<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltt.mapper.GoodsMapper">
	<insert id="add">
		insert goods set id=#{id},name=#{name},price=#{price},sales=#{sales}
	</insert>
	<select id="getListGoods" resultType="com.ltt.beans.Goods">
		select * from goods
		 <where>
			<if test="null!=con.p1">
				and price >=#{con.p1}
			</if>
			<if test="null!=con.p2">
				and price >=#{con.p2}
			</if>
				<if test="null!=con.s1">
				and price >=#{con.s1}
			</if>
			<if test="null!=con.s2">
				and price >=#{con.s2}
			</if>
		</where> 
	</select>
</mapper>